
{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{% if is_front %}
    {% set bannershowFront = banner_display ? 'F-banner' : 'F-no_banner' %}
  {% else %}  
    {% set bannershow = banner_display ? 'banner' : 'no_banner' %}
{% endif %}
<div class="layout-container">
  <header id="header" class="fixed-top {{bannershow}} {{bannershowFront}}">
    <div class="container d-flex align-items-center justify-content-between">
      {{page.header}}
      {{page.nav_main}}
    </div>
  </header>
  {% if is_front %}
  {% if banner_display %}
  <section id="hero" class="d-flex align-items-center justify-content-center" style="background: url({{banner_bg_img}}) center fixed;">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>{{banner_title}}<span>.</span></h1>
          <h2>{{banner_description}}</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        {% for key, option in card %}
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-{{option.card_icon}}"></i>
              <h3><a href="{{option.card_url}}">{{option.card_title}}</a></h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  {% endif %}

  <main role="main" class="main {{bannershow}}">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content container">
      {{ page.content }}
    </div>
    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
  </main>

  <footer id="footer" role="contentinfo">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              {{page.footer_one}}
              {% if show_information_icon %}
                <p>
                  {{address}}<br>
                  <strong>Phone:</strong>{{contact}}<br>
                  <strong>Email:</strong>{{mail_id}}<br>
                </p>
                &#160;
              {% endif %}
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            {{page.footer_two}}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            {{page.footer_three}}
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            {{page.footer_email}}
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        {{ footer_copyright }}
      </div>
    </div>
  </footer>
</div>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center {{arrow_up}}"><i class="bi bi-arrow-up-short"></i></a>